.dark main {
    background: #1f1f1f;
}

@media (min-width: 1024px) {

    main {
        background: #f9fafc;
    }

    form {
        background: white;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 0.125rem;
        box-shadow: 0 0 2px 2px #eeeff0;
    }

    .dark form {
        background: #282828;
        border: 1px solid #3e3e3e;
        box-shadow: none;
    }

    main, body.menu-docado main {
        margin: 0;
        padding: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

}

form {
    margin: 0 2rem;
}

.profinanc form {
    margin: 0 2rem;
    background: transparent;
}

.dark form {
    background: #1f1f1f;
}

.botoes {
    margin: 2rem 0;
    justify-content: space-between;
}

.campos {
    margin: 2rem 0;
}

.botoes > button, .botoes > a.button {
    flex: 0 1 100%;
    margin: 0;
}

#b-esqueci {
    margin-top: 1.5rem;
    flex: 1 1 auto;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

.provisorio header {
    display: flex;
}

p {
    margin: 1rem 0;
}

h1, p {
    text-align: center;
}

@media (min-width: 768px) {
    body.menu-docado #alerta {
        left: 50%;
    }
}

.email {
    font-weight: bold;
    margin-bottom: 0;
}