@import "form.css";

form {
    margin: 0 2rem;
}

.botoes {
    margin: 2rem 0;
    justify-content: space-between;
}

.campos {
    margin: 2rem 0;
}

.botoes > button, .botoes > a.button {
    flex: 0 1 calc(50% - 0.25rem);
    margin: 0;
}

.botoes.b2 > button, .botoes.b2 > a.button {
    flex: 1 1 100%;
    margin-bottom: 0.25rem;
}

.botoes > a.button.link {
    flex: 1 1 100%;
}

#b-esqueci {
    margin-top: 1.5rem;
    flex: 1 1 auto;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

p {
    margin: 1rem 0;
}

h1, p {
    text-align: center;
}

@media (min-width: 768px) {
    body.menu-docado #alerta {
        left: 50%;
    }
}

#the-logo {
    height: 120px;
    background: url("../../tpl/img/giroos.png") no-repeat center;
    background-size: contain;
}

.dark #the-logo {
    height: 120px;
    background: url("../../tpl/img/giroos-dark.png") no-repeat center;
    background-size: contain;
}