header, body {
    /*background: var(--fg);*/
}

.tarefa {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #cccccc;
}

.dark .tarefa {
    border-bottom: 1px solid #303030;
}

.tarefa:last-child {
    border-bottom: none;
}

.tarefa .textos {
    flex: 1 1 auto;
}

.tarefa .textos .projeto {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.tarefa .textos .nome {
    font-size: 0.75rem;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.tarefa .textos .nome::after {
    content: "Copiado";
    position: absolute;
    right: 0;
    top: 0;
    color: #3594d4;
    font-weight: bold;
    font-size: 0.9rem;
    opacity: 0;
}

.tarefa .textos .nome.copy::after {
    transition: all 0.375s;
    opacity: 1;
    display: block;
    top: -20px;
}

.tarefa .textos .cards {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: flex;
    flex-flow: row wrap;
}

.tarefa .textos .cards a {
    flex: 0 0 2rem;
    height: 2rem;
    background: url("trello.svg") no-repeat center;
    background-size: contain;
    margin: 0 4px 4px 0;

}

@media (min-width: 1024px) {
    .tarefa .textos .cards a {
        flex: 0 0 1.5rem;
        height: 1.5rem;
    }
}

.tarefa .controles {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
}

.tarefa .controles .tempo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #444444;
}

.tarefa .controles button.start {
    border: 1px solid #cccccc;
    margin: 0 0.5rem;
    flex: 0 1 4rem;
    width: 4rem;
    color: #555555;
    font-weight: bold;
}

.dark .tarefa .controles button.start {
    border-color: #3ea6ff;
    color: #3ea6ff;
}


.tarefa .controles button.start:before {
    content: "Start";
}

.tarefa.started {
    background-color: #e5f1f9;
}

.dark .tarefa.started {
    background-color: transparent;
}

.tarefa.started .controles button.start {
    color: #feffff;
    background-color: #3594d4;
    border-color: #327aac;
}

.dark .tarefa.started .controles button.start {
    border-color: #3ea6ff;
}


.tarefa.started .controles button.start:active {
    background-color: #0069b0;
    border-color: #005188;
}

.tarefa.started .controles button.start:before {
    content: "Stop";
}

#tarefas {
    padding: 4px;
}

@media (min-width: 768px) {
    #tarefas {
        width: 700px;
        padding: 1rem;
        margin: auto;
    }
}

#tempo {
    font-size: 1.2rem;
    font-weight: bold;
}

#txt {
    flex: 1 1 auto;
    margin: 0 0.5rem;
}

@media (min-width: 768px) {
    #txt {
        flex: 0 1 300px;
    }
}

button.arquivadas {
    flex: 0 1 85px;
}