* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.95rem;
}

body, html {
    background: #f1f3f4;
}

main {
    background: white;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem lightslategrey;
}

@media (min-width: 768px) {
    main {
        width: 600px;
        margin: 1rem auto;
    }
}

@media print {
    main {
        width: auto;
        margin: 0;
        height: 100vh;
        padding: 0;
        box-shadow: none;
    }
}

h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

h2:first-child {
    margin-top: 0;
}

h3 {
    font-size: 1rem;
    margin: 1rem 0;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5rem;
}

a {
    color: steelblue;
}

button, a.button {
    background: #f8f9fa;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

button:hover, a.button:hover {
    border: 1px solid #dadce0;
}

button:active, a.button:active {
    border: 1px solid #4285f4;
}

.botoes {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#email {
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    color: #3e3e3e;
    margin: 1rem;
}

#email.show {
    visibility: visible;
}