main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.botoes {
    flex-flow: column nowrap;
    width: 100%;
}

@media (min-width: 768px) {
    .botoes {
        width: 400px;
    }
}

.botoes button, .botoes a.button {
    height: auto;
    padding: 1.125rem 2rem;
    font-size: 1rem;
}