div.cards {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

div.cards > .card {
    background: var(--fg);
    border-radius: 0.25rem;
    padding: 0.75rem;
    flex: 1 1 100%;
    margin: 0.125rem;
    display: flex;
    flex-flow: row wrap;
}

div.cards > .card:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

div.cards > .card:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media screen and (min-width: 1024px) {
    div.cards.noradius > :is(.card:first-child, .card:last-child) {
        border-radius: 0.25rem;
    }
}

div.cards .card .campo {
    flex: 1 1 100%;
}

div.cards .card .campo > label {
    font-size: 0.8rem;
    color: #444444;
    font-weight: bold;
}

div.cards .card .campo > div {
    font-size: 0.9rem;
}