header {
    display: none;
}

main {
    padding: 1rem;
}

.video {
    width: 100%;
    position: relative;
    height: 300px;
}

@media screen and (min-width: 768px) {
    .video {
    }
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
}

#forbidden {
    height: calc(100vh - 2rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#forbidden * {
    font-size: 2rem;
}

#forbidden p {
    text-align: center;
}