#qrcode {
    width: 300px;
    height: 300px;
    margin: auto;
}

#qrcode img {
    display: block;
    width: 100%;
    height: 100%;
}

#numero {
    text-align: center;
}

@media screen  and (min-width: 768px) {
    form {
        width: 150px;
        margin: auto;
    }
}