form {
    margin: 0.5rem;
}

.botoes button, .botoes a.button {
    flex: 1 1 0;
}

@media (min-width: 768px) {
    form {
        width: 400px;
        margin: auto;
        padding: 1rem;
        border: 1px solid #dadce0;
        border-radius: 0.25rem;
    }
}