form {
    margin: 0.5rem;
    background: var(--fg);
    border-radius: 0.25rem;
    padding: 1rem;
}

.campo {
    margin-bottom: 0.5rem;
}

.campos > .campo > .controle {
    line-break: anywhere;
}

@media (min-width: 768px) {
    form {
        width: 400px;
        margin: auto;


    }
}