#filtro > div {
    width: calc(100vw - 2rem);
}

#filtro button.primario {
    flex: 0 0 150px;
}

@media screen and (min-width: 768px) {
    :is(#filtro, #share) > div {
        width: 400px;
    }
}

:is(.perfis, .contas) label {
    flex: 1 1 100%;
}

.resultados {
    text-align: center;
}

button.delete-red {
    margin-left: 1rem;
}

#share .botoes button {
    flex: 1 1 100%;
}

p {
    margin-bottom: 0.5rem;
}

