.botoes button {
    flex: 1 1 auto;
}

#codigo-validacao {
    text-align: center;
    font-size: 2rem;
}

@media screen  and (min-width: 768px) {
    form {
        width: 400px;
        margin: auto;
    }
}