@import "status.css";

#cabecalho, #abas {
    background: var(--fg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0 auto 0.5em auto;

}

#cabecalho p {
    justify-content: center;
    display: flex;
    align-items: center;
}

#abas {
    padding: 0;
}

#abas nav {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    overflow-x: auto;
    height: 2.5rem;
    position: sticky;
    z-index: 1;
    top: calc(var(--altura-header));
    background: var(--fg);
}

#abas nav button {
    flex: 0 1 auto;
    width: auto;
    height: 100%;
    border-radius: 0;
    border-bottom-width: 0.125rem;
}

#abas nav button:focus {
    border-color: transparent;
}

#abas nav button:active {
    background: transparent;
}

#abas nav button.active:hover {
    background: transparent;
}

@media (hover: none) {
    #abas nav button:hover {
        background: transparent;
    }
}

#abas > section {
    border-top: 1px solid #1b61d1;
}

.dark #abas > section {
    border-top: 1px solid steelblue;
}

#abas section > div {
    padding: 0.25rem 0;
    display: none;
}

#abas section div.active {
    display: block;
}

#abas nav button.active {
    color: #1b61d1;
    border-bottom-color: #1b61d1;
    font-weight: bold;
}

.dark #abas nav button.active {
    color: steelblue;
    border-bottom-color: steelblue;
}

#abas section div.bloco {
    border-bottom: 1px solid #888888;
    padding: 0.5rem 0;
    margin: 0 auto 0.5rem auto;
}

#abas section div.bloco:last-of-type {
    border-bottom: none;
}

#abas section table {
    margin: 0 auto;
}

#abas section table * {
    font-size: 0.9rem;
}

#abas section table tr {
    border: none;
}

#abas section table th {
    padding-right: 0.5rem;
    text-align: right;
    font-weight: normal;
    color: #888888;
}

#abas section table td {
    padding: 0;
    color: black;
}

.dark #abas section table td {
    color: white;
}

#carrossel {
    height: 20rem;
    max-height: 75vh;
    text-align: center;
    display: flex;
    overflow-x: auto;
    position: relative;
    margin: 1rem 0;
}

#carrossel > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30rem;
    max-width: 80vw;
    margin: 0 0.25rem;
    scroll-behavior: smooth;
}

#carrossel video {
    max-width: 80vw;
    max-height: 100%;
    object-fit: contain;
}

#carrossel img {
    max-width: 80vw;
    max-height: 100%;
}

#carrossel button {
    display: block;
    position: sticky;
    z-index: 1;
    flex: 0 0 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
}

.sem-botoes #carrossel button {
    display: none;
}

#carrossel button.left {
    left: 1rem;
    background: url("../../core/templates/gaido/img/arrow-left.svg") no-repeat center white;
    background-size: 80%;
}

#carrossel button.right {
    right: 1rem;
    background: url("../../core/templates/gaido/img/arrow-right.svg") no-repeat center white;
    background-size: 80%;
}

#actions {
    padding: 1rem;
    background: var(--fg);
    border-radius: 0.5rem;
    position: sticky;
    z-index: 2;
    bottom: 0;
    margin: auto;
}

#actions .botoes button {
    flex: 1 1 0;
    margin: 1px;
}

#rejeitar-solicitacao {
    flex: 0 0 200px;
}

#historico td:has(.status) {
    padding-right: 1rem;
}

#historico td.usuario {
    padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {

    #cabecalho {
        width: 400px;
    }

    #abas, #actions {
        width: 700px;
    }

    #abas nav {
        justify-content: center;
    }

    #actions .botoes button {
        flex: 0 0 200px;
    }

}

@media screen and (min-width: 1024px) {
    #abas, #actions {
        width: 1000px;
    }
}

#actions .botoes button {
    display: none;
}

#actions .botoes button.show {
    display: flex;
}

#form-rejeicao > div {
    max-width: 400px;
}

:is(#form-rejeicao, #entrada) .checks label {
    flex: 1 1 100%;
}

:is(#form-rejeicao, #entrada, #agendamento) > div {
    max-width: 300px;
}

#motivo-rejeicao {
    text-align: center;
    /*background: lightsalmon;*/
    background: #f9dedc;
    padding: 0.5rem;
    /*font-size: 0.9rem;*/
    color: #410e0b;
}

.dark #motivo-rejeicao {
    background: #8c1d18;
    color: #f4d6d4;
}

#previsao-entrada {
    text-align: center;
    background: #F0F9FF;
    padding: 0.5rem;
    /*font-size: 0.9rem;*/
    color: #0284C7;
}

.dark #previsao-entrada {
    background: #0C4A6E;
    color: #38BDF8;

}

.campos > .campo.dia .controle.checks label {
    flex: 0 0 calc(100% / 2 - 2px);
}

.campos > .campo.horario select {
    width: auto;
}

.plus-wrapper {
    display: flex;
    justify-content: center;
}

.travado :is(.plus-wrapper, button.delete) {
    display: none;
}

#os-itens > div {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    padding: 0.5rem;
}

#os-itens > div div.cards > .card {
    padding: 0.25rem;
    flex-flow: row nowrap;
    cursor: pointer;
    border: 1px solid transparent;
}

#os-itens > div::-webkit-scrollbar {
    display: none;
}


#os-itens > div div.cards > :is(.card.hover, .card:hover) {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.dark #os-itens > div div.cards > :is(.card.hover, .card:hover) {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

#os-itens > div div.cards > .card.checked {
    background: #c2dbff;
    border: 1px solid #b6cff1;
}

.dark #os-itens > div div.cards > .card.checked {
    background: #174ea6;
    border: 1px solid #3364b1;
}

.dark #os-itens > div div.cards > .card.checked * {
    color: white;
}

#novo-produto-servico > div {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    padding: 0.5rem;
}

#novo-produto-servico .controle.checks label {
    flex: 1 1 0;
}

@media screen and (min-width: 1024px) {
    #os-itens > div {
        width: 600px;
        /*height: 60vh;*/
    }

    #os-itens > div::-webkit-scrollbar {
        display: block;
    }

    #os-itens > div div.cards > .card {
        padding: 0.25rem 0.75rem;
    }

    #novo-produto-servico > div {
        width: 600px;
    }
}

#search-os-item {
    display: block;
    margin: auto;
    max-width: 400px;
    position: sticky;
    top: 0;
    background: var(--bg);
}

#os-itens .botoes {
    position: sticky;
    bottom: 0;
}

#os-itens .botoes button {
    flex: 1 0 0;
    margin: 1px;
}

#os-itens .resultados {
    margin: 0.5rem auto;
    min-height: calc(100% - 109px);
}

#os-itens .cards .card .icone {
    flex: 0 0 1.65rem;
    height: 1.65rem;
    margin: 0.5rem;
}

#os-itens .cards .card .icone.produto {
    background: url("box-outline.png") no-repeat center;
    background-size: 90%;
}

.dark #os-itens .cards .card .icone.produto {
    background-image: url("dark-box-outline.png");
}

#os-itens .cards .card.interno .icone.produto {
    background: url("box.png") no-repeat center;
    background-size: 90%;
}

#os-itens .cards .card .icone.servico {
    background: url("settings-outline.png") no-repeat center;
    background-size: 90%;
}

.dark #os-itens .cards .card .icone.servico {
    background-image: url("dark-settings-outline.png");
}

#os-itens .cards .card.interno .icone.servico {
    background: url("settings.png") no-repeat center;
    background-size: 90%;
}

#os-itens .cards .card .texto {
    flex: 1 1 auto;
    margin: 0 0.25rem;
}

#os-itens .cards .card .nome {
    font-size: 0.875rem;
}

#os-itens .cards .card .categoria {
    font-size: 0.75rem;
    color: #888888;
}

.dark #os-itens .cards .card.checked .categoria {
    font-size: 0.75rem;
    color: #bbbbbb;
}


#os-itens .cards .card .preco {
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    text-align: right;
}

@media screen and (min-width: 768px) {
    #os-itens .botoes button {
        flex: 0 0 200px;
    }

    #os-itens .cards .card .preco {
        font-size: 0.85rem;
    }
}

#os-itens .resultados > p {
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

@media screen and (min-width: 1024px) {
    #os-itens .resultados {
        min-height: auto;
    }

    #os-itens .cards .card .icone {
        flex: 0 0 2rem;
        height: 2rem;
        margin: 0;
    }
}

#abas #orcamento .itens {
    margin: auto;
    padding: 0.5rem;
}

#abas #orcamento h2 {
    margin: 0 auto;
    padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
    #abas #orcamento :is(.itens, h2) {
        width: 700px;
    }
}

@media screen and (min-width: 1024px) {
    #abas #orcamento :is(.itens, h2) {
        width: 900px;
    }
}

#abas #orcamento .itens .item {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #888888;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

#abas #orcamento .itens .item:last-child {
    border-bottom: none;
}

#abas #orcamento .itens .item .categoria-nome {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#abas #orcamento .itens .item .controles {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

#abas #orcamento .itens .item .field {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0.5rem;
}

#abas #orcamento .itens .item label {
    font-size: 0.875rem;
    flex: 0 1 0;
    color: #444444;
    text-align: right;
}

#abas #orcamento .itens .item input {
    width: 75px;
}

#abas #orcamento.travado .itens .item input, #abas #resumo.travado input {
    border: none;
}

#abas #orcamento .itens .item .field > div {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    width: 90px;
}

@media screen and (min-width: 768px) {
    #abas #orcamento .itens .item .categoria-nome {
        flex: 0 1 50%;
        margin-bottom: 0;
    }

    #abas #orcamento .itens .item .controles {
        flex: 0 1 50%;
    }
}

#abas #orcamento .itens .item .categoria-nome .categoria {
    font-size: 0.9rem;
    color: #888888;
}

#abas #orcamento .totais {
    background: #e0e0e0;
    position: sticky;
    bottom: 87px;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.dark #abas #orcamento .totais {
    background: #0c0c0c;
}

@media screen and (min-width: 1024px) {
    #abas #orcamento .totais {
        bottom: 77px;
        padding: 0.25rem 0.5rem;

    }
}

#caixa-do-nada {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
}

#caixa-do-nada .prancheta {
    width: 75px;
    height: 75px;
    background: url("prancheta.png") no-repeat center;
    background-size: contain;
}

td.desconto > div {
    display: flex;
    align-items: center;
}

#desconto {
    width: 75px;
    margin-left: .25rem;
}

#resumo table td {
    text-align: right;
}

#resumo table tr.total :is(td, th, span) {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: normal;
}

p.alerta {
    text-align: center;
    font-size: 0.9rem;
    margin: 0.5rem;
}

#execucao form {
    display: block;
    margin: auto;
    max-width: 400px;
    padding: 0.5rem;

}

:is(.controle.checks.data-previsao-entrega, .controle.checks.hora-previsao-entrega) label {
    flex: 0 1 calc(100% / 3 - 2px);
}