#fipe-panel {
    border: 1px solid #888888;
    margin: 2px 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    flex: 1 1 auto;
    position: relative;
}

#fipe-panel button.close {
    position: absolute;
    top: 0;
    right: 0;
}

.campos > .campo.d2 {
    flex: 0 1 calc(100% / 2 - 0.5rem);
}

.campos > .campo.veiculos .controle.checks label {
    text-align: left;
    flex: 1 1 100%;
}