.campos > .campo.quando .checks label {
    flex: 1 1 100%;
}

@media screen and (min-width: 400px) {
    .campos > .campo.quando .checks label {
        flex: 0 1 calc(100% / 2 - 2px);
    }
}

@media screen and (min-width: 768px) {
    .campos > .campo.quando .checks label {
        flex: 0 1 calc(100% / 3 - 2px);
    }

}