#nome {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

#wrapper-enviar {
    margin-top: 0.5rem;
    flex: 1 1 100%;
}

@media screen and (min-width: 768px) {
    form {
        width: 400px;
    }
}