div:has(button.attach) {
    display: flex;
    justify-content: center;
}

form > p {
    text-align: center;
}

.progresso {
    height: 1.5rem;
    background: #e0e0e0;
    border-radius: 0.75rem;
}

.progresso div {
    background: #7ebf4b;
    height: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.75rem;
    overflow: hidden;
}

.progresso div span {
    color: white;
    font-weight: bold;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

#files {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#files .file {
    flex: 0 0 100%;
    margin-bottom: 0.5rem;
    background: var(--fg);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#files .file p {
    text-align: center;
    margin-bottom: 0.25rem;
}

#files .file img {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    margin: auto;
}

#files .file .controles {
    display: flex;
    justify-content: center;
}

#resultado .resumo {
    text-align: center;
    background: var(--fg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;
    margin-bottom: 0.5rem;
}

.botoes {
    background: var(--bg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
}