form {
    background: var(--fg);
    padding: 1rem;
    border-radius: 1rem;
}

form p {
    text-align: center;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    form {
        width: 600px;
        margin: auto;
    }
}