.grafico-barras {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.grafico-barras > .principal {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 320%;
}

@media (min-width: 768px) {
    .grafico-barras > .principal {
        width: 260%;
    }
}

@media (min-width: 1024px) {
    .grafico-barras > .principal {
        width: 100%;
    }
}

.grafico-barras > .principal > .degrau {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.grafico-barras > .principal > .degrau > div {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    padding: 0 0.25rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.grafico-barras > .principal > .degrau > div > * {

}

.grafico-barras > .principal > .container-svg {
    display: block;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.grafico-barras > .principal > .container-svg > svg {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
}

.grafico-barras > .principal > .painel-avaliados {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.grafico-barras > .principal > .painel-avaliados {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.grafico-barras > .principal > .painel-avaliados table {
    background: transparent;
}

.grafico-barras > .principal > .painel-avaliados .cor {
    width: 1rem;
    height: 1rem;
}

.grafico-barras > .principal > .painel-avaliados td {
    font-size: 0.8rem;
}

.grafico-barras .eixo-x,
.grafico-barras .eixo-y {
    stroke: black;
}

.grafico-barras .degrau {
    stroke: #AAA;
}

.grafico-barras .legenda {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.grafico-barras .legenda > div {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    text-align: center;
    font-size: 0.8rem;
}

.grafico-barras .barra {
}

.graficos-hint {
    position: absolute;
    top: 100px;
    left: 100px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1rem;
    border-radius: 4px;
    display: none;
    pointer-events: none;
}

.graficos-hint.visivel {
    display: block;
}

.grafico-barras-anuais {
    overflow: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.grafico-barras-anuais svg {
    shape-rendering: crispEdges;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 320%;
}

.grafico-barras-anuais table {
    border-collapse: collapse;
    width: 320%;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

@media (min-width: 640px) {
    .grafico-barras-anuais svg,
    .grafico-barras-anuais table {
        width: 260%;
    }
}

@media (min-width: 1024px) {
    .grafico-barras-anuais svg,
    .grafico-barras-anuais table {
        width: 100%;
    }
}

.grafico-barras-anuais table td {
    width: calc(100% / 13);
    border: 1px solid #bbbbbb;
    font-size: 0.7rem;
    font-weight: lighter;
    margin: 0;
    padding: 0.25rem;
    overflow: hidden;
    text-align: center;
}

.grafico-barras-anuais svg text {
    fill: black;
    font-size: 1rem;
    display: none;
}

.hover-grafico-barras-anuais {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 4;
    padding: 1rem;
    pointer-events: none;
    border-radius: 4px;
    font-size: 0.9rem;
    display: none;
}

.grafico-barras-temporais {

}

.grafico-barras-temporais svg {
    shape-rendering: crispEdges;
    background: #2b2b2b;
    height: 100%;
    width: 100%;
    display: block;
}

.grafico-barras-temporais .barra {
    fill: #006e8a;
}

.hover-grafico-barras-temporais {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 4;
    padding: 1rem;
    pointer-events: none;
    border-radius: 4px;
    font-size: 0.9rem;
    display: none;
}