#sp-nome {
    font-weight: bold;
}

.botoes {
    margin: 1rem 0;
}

.botoes button, .botoes a.button {
    flex: 1 1 0;
}

@media (min-width: 768px) {
    #m-excluir section {
        width: 350px;
    }
}

