.botoes {
    flex-flow: row wrap;
}

.botoes button, .botoes a.button {
    flex: 1 1 100%;
    margin: 0.25rem 0;
}

@media (min-width: 768px) {
    .botoes {
        width: 400px;
        margin: auto;
    }
}