form {
    background: var(--fg);
    padding: 1rem;
    border-radius: 0.5rem;
}

.campos > .campo.d2 {
    flex: 0 1 calc(100% / 2 - 0.5rem);
}

#wrapper-trocar-senha .botoes {
    flex: 1 1 100%;
    justify-content: center;
    margin: 0.5rem;
}

#trocar-senha {
    flex: 0 0 125px;
}

form > .botoes button {
    flex: 1 0 0;
}

@media screen and (min-width: 768px) {
    form {
        width: 400px;
        margin: auto;
    }
}
