.campos > .campo.d2 {
    flex: 0 1 calc(100% / 2 - 0.5rem)
}

.campos > .campo#campo-status .controle.checks label {
    flex: 0 0 calc(100% / 2 - 2px);
}

p.registros {
    text-align: center;
    padding: 0.5rem;
}

table.cards td.d3 {
    flex: 0 1 calc(100% / 3);
}

@media screen  and (min-width: 768px) {
    .search-panel {
        width: 600px;
    }

    .campos > .campo#campo-status .controle.checks label {
        flex: 1 0 0;
    }

    .campos > .campo#opcoes .controle.checks label {
        flex: 0 0 calc(100% / 2 - 2px);
    }

}

@media screen and (min-width: 1024px) {
    button.novo, a.button.novo, button.next, a.button.next {
        bottom: 4.5rem;
    }
}

#share .botoes {
    flex-direction: column;
}