#controles {
    display: flex;
    padding: 3px;
    align-items: center;
    position: fixed;
    top: var(--altura-header);
    left: 0;
    right: 0;
    background: var(--bg);
}

main {
    padding-top: calc(var(--altura-header) + 3.375rem);
}

#b-modo {
    flex: 0 0 66px;
}

#periodo {
    font-size: 0.75rem;
}

#projetos {
    margin-top: 0.5rem;
}

#projetos .projeto {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

.dark #projetos .projeto {
    border-bottom: 1px solid #303030;
}

#projetos .projeto:last-child {
    border-bottom: none;
}

#projetos .nome {
    flex: 1 1 auto;
    cursor: pointer;
    user-select: none;
}

#projetos .tempo {
    flex: 0 0 75px;
    text-align: right;
    cursor: pointer;
    user-select: none;
}

#projetos .detalhes {
    flex: 0 0 100%;
    display: none;
}

#projetos .show .detalhes {
    display: block;
}

#projetos .show .detalhes * {
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    #periodo {
        font-size: 1rem;
    }

    #projetos {
        width: 500px;
        margin: auto;
    }
}

#projetos .tarefa {
    display: flex;
    margin: 0.75rem 0;
    padding: 0.75rem;
}

#projetos .tarefa:last-of-type {
    border-bottom: none;
}

#projetos .tarefa .textos {
    flex: 1 1 auto;
}

#projetos .tarefa .tempo {
    flex: 0 0 75px;
    text-align: right;
}

#projetos .tarefa .cards > a {
    display: block;
    padding: 0.2rem 0;
}

#projetos section {
    position: sticky;
    bottom: 0;
    display: flex;
    background: var(--bg);
    padding: 0.5rem 0;
}

#projetos section .texto {
    flex: 1 1 auto;
    font-weight: bold;
}

#projetos section .tempo {
    flex: 0 0 75px;
    text-align: right;
    font-weight: bold;
}