header {
    display: none;
}

main {
    padding: 1rem;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#minidocs {

}

#minidocs .mindoc {
    margin-bottom: 0.5rem;
    overflow-x: auto;
}

#minidocs .mindoc.text {
    white-space: pre-line;
}

#minidocs .mindoc.file {
    margin-bottom: 1.0rem;
    overflow-x: auto;
}


#minidocs .mindoc.file a {
    display: block;
    text-align: center;
}

#minidocs .mindoc.file img {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 100%;
    border: 1px solid #888888;
}

@media screen and (min-width: 1024px) {
    #minidocs {
        width: 1000px;
        margin: auto;
    }
}