.doc {
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
}

.doc * {
    color: black;
}

.dark .doc * {
    color: #cccccc;
}

.doc .name {
    flex: 1 1 100%;
}

.doc .created_at {
    margin-left: auto;
    font-size: 0.8rem;
}

.doc .actions {
    flex: 1 1 100%;
    display: flex;
}

.doc .actions .delete-red {
    margin-left: auto;

    /*estou incerto sobre a presença de deleção definitiva diretamente na tela*/
    display: none;
}

@media screen and (min-width: 768px) {
    div.cards .doc {
        flex: 0 1 calc(100% / 2 - 0.5rem);
    }
}

@media screen and (min-width: 1024px) {
    div.cards .doc {
        flex: 0 1 calc(100% / 3 - 0.5rem);
    }
}

@media screen and (min-width: 1366px) {
    div.cards .doc {
        flex: 0 1 calc(100% / 4 - 0.5rem);
    }
}

@media screen and (min-width: 1920px) {
    div.cards .doc {
        flex: 0 1 calc(100% / 5 - 0.5rem);
    }
}